@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    position: relative;
    background-color: rgb(15, 15, 15);
    font-family: 'Orbitron', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings:
        "cv11", "salt", "ss01", "ss03",
        "cv01", "cv02", "cv03", "cv04",
        "cv05", "cv06", "cv09", "cv10";
    overflow: hidden;
}

section {
    height: 100vh;
    max-height: 100vh;
    max-width: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: scale(0);
    transition: filter 1s ease;
}

button {
    cursor: pointer;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

#fundo-loader {
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 15, 15);
    position: fixed;
    top: 0;
    z-index: 9998;
}

#loader {
    height: 50px;
    width: 300px;
    background: rgb(15, 15, 15) url("http://localhost/simplifyweb.com.br/img/simplifyweb.png") center/cover no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.logo {
    position: absolute;
    border: none;
    top: 40px;
    left: 50px;
    background-color: transparent;
    padding: 7px 13px;
    z-index: 9997;
    color: white;
    font-family: 'Orbitron', sans-serif;
    transition: filter 1s ease, transform 0.8s ease;
}

.logo h1 {
    font-size: 22px;
    display: flex;
    align-items: baseline;
}

nav {
    margin-left: 10px;
    position: absolute;
    top: 170px;
    left: 60px;
    z-index: 9997;
    transition: filter 1s ease;
}

nav ul {
    list-style: none;
    padding: 0;
    color: white;
}

nav ul div {
    display: flex;
    align-items: center;
}

nav li {
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 12px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

nav li.clicked {
    background-color: white;
}

nav p {
    margin: 1px 0 0 15px;
    font-size: 13px;
    transition: 0.4s ease-in-out;
    opacity: 0.2;
    cursor: pointer;
}

nav p:hover {
    opacity: 1;
}

nav p.clicked {
    opacity: 1;
}

.animation-container {
    position: absolute;
    left: 60px;
    margin-left: 25px;
    bottom: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 80px;
    z-index: 9996;
    transition: filter 1s ease;
}

.scroll-indicator {
    position: relative;
    width: 100%;
    height: 100%;
}

.scroll-icon-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.scroll-icon {
    width: 24px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.outer-border {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}

.inner-scroll {
    width: 0;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    border: 2px solid #cccccc;
    box-sizing: border-box;
    animation: scrollAnimation 1.5s infinite linear;
}

@keyframes scrollAnimation {
    0% {
        opacity: 1;
        transform: translate(-50%, -120%);
    }

    50% {
        opacity: 0.8;
        transform: translate(-50%, -45%);
    }

    100% {
        opacity: 0.1;
        transform: translate(-50%, 30%);
    }
}

.language-translator {
    position: relative;
}

.language-translator .op-language {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
}

.language-translator:hover .op-language {
    display: block;
}

.language-translator .op-language a {
    display: block;
}

.language-translator .op-language button {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 3px;
    background-color: rgba(41, 41, 41, 0.5);
    border: none;
    transition: all 0.8s ease;
}

.language-translator .op-language button:hover {
    background-color: rgba(80, 80, 80, 0.5);
}

.op-language img {
    min-width: 30px;
    max-width: 40px;
    height: auto;
}

.toggle-menu,
.close-menu,
.language-translator {
    position: absolute;
    padding: 10px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    color: white;
    z-index: 9997;
    transition: filter 1s ease, transform 0.8s ease;
}

.toggle-menu {
    top: 40px;
    right: 40px;
}

.close-menu {
    font-size: 35px;
    top: 30px;
    right: 40px;
    padding: 0;
}

.close {
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.close-ring {
    transform: rotate(-90deg);
    position: relative;
}

.close-ring__circle {
    stroke-dasharray: 188.496;
    /* Circunferência do círculo completo (2 * π * raio) */
    stroke-dashoffset: 188.496;
    transition: stroke-dashoffset 0.6s;
    /* Ajuste o tempo da animação para 5 segundos */
}

.x {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
}

.toggle-menu svg {
    width: 38px;
    /* Defina a largura desejada */
    height: 16px;
    /* Defina a altura desejada */
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9997;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 2s ease;
}

.menu ul {
    list-style: none;
    opacity: 0;
}

.menu ul li {
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 900;
    cursor: pointer;
}

.menu ul li:hover {
    color: rgb(42, 217, 223);
}

.language-translator {
    top: 120px;
    right: 45px;
}

.language-translator img {
    height: 28px;
}

.logo:hover,
.toggle-menu:hover,
.language-translator:hover {
    transform: scale(0.9);
}

main {
    margin: 0 30px 0 60px;
    flex: 1;
    position: relative;
    display: flex;
}

.apresentacao-principal,
.section-box {
    margin: auto;
    position: relative;
}

.section-box {
    margin-top: 9vh;
    margin-bottom: 15vh;
    height: 76vh;
    width: 60%;
    transform: translateX(60px);
}

.section-box.contato {
    width: 65%;
}

.section-content {
    margin-top: 40px;
}

.apresentacao-principal {
    margin-top: 25vh;
    height: 75vh;
    width: 75%;
    user-select: none;
}

.cargo {
    color: black;
    margin-left: 10%;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
}

.apresentacao-principal img {
    position: absolute;
    bottom: 7vh;
    right: 40px;
    height: 90vh;
    min-height: 400px;
    user-select: none;
    transition: transform 1.5s ease-out;
}

.apresentacao-principal h1 {
    font-family: 'Manrope', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.2em;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 10%;
    z-index: 998;
}

.contato-submit-box {
    padding: 10px;
    height: fit-content;
    position: absolute;
    left: 10%;
    bottom: 70px;
}

.contato-submit {
    border: none;
    background-color: transparent;
    position: relative;
    color: black;
    font-family: 'Orbitron', sans-serif;
    padding-bottom: 10px;
    font-size: 14px;
}

.contato-submit::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 1px;
    background-color: black;
    transition: width 0.5s ease;
}

.contato-submit:hover::before {
    width: 100%;
    /* Largura que a linha se estenderá */
}

.descricao {
    position: absolute;
    display: flex;
    bottom: 0;
    right: -60px;
    width: 60%;
    height: fit-content;
    padding: 30px 40px;
    background-color: rgb(15, 15, 15);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.descricao p {
    font-family: 'Hind', sans-serif;
    color: rgb(220, 220, 220);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6em;
    margin: 0;
}

.section-title {
    color: rgb(42, 217, 223);
    height: fit-content;
}

#sobre .texto {
    font-size: 22px;
    line-height: 1.6em;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
}

#portfolio {
    height: calc(100vh - 20px);
    width: calc(100% - 10px);
    padding: 10px;
    padding-right: 0;
    overflow: hidden;
}

.portfolio {
    flex: 1;
    height: 100%;
    background-color: rgb(40, 40, 40);
    margin-right: 10px;
    position: relative;
}

.portfolio:hover {
    cursor: none;
}

.portfolio-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s ease;
}

.portfolio:hover img {
    filter: grayscale(1);
}

.portfolio h1 {
    position: absolute;
    left: 0;
    bottom: 60px;
    z-index: 2;
    font-family: 'Hind', sans-serif;
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    transition: all 0.8s ease;
}

.portfolio:hover h1 {
    transform: translateY(-220px);
}

.custom-cursor {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgb(42, 217, 223);
    /* Cor do círculo */
    border-radius: 50%;
    /* Torna o elemento um círculo */
    color: rgb(15, 15, 15);
    /* Cor do texto */
    text-align: center;
    line-height: 120px;
    /* Centraliza verticalmente o texto */
    font-size: 16px;
    /* Tamanho da fonte do texto */
    display: none;
    /* Oculta o círculo por padrão */
    z-index: 3;
}

.servico {
    margin-bottom: 40px;
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
}

.servico h1 {
    width: fit-content;
    flex: 0.7;
    font-size: 25px;
    user-select: none;
    font-weight: 600;
}

.servico.left h1 {
    padding-right: 50px;
    font-size: 30px;
}

.servico.last h1 {
    font-size: 28px;
}

.servico.right h1 {
    padding-left: 60px;
}

.video-servico {
    flex: 1;
    height: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.video-servico video {
    filter: grayscale(0);
    /* Inicialmente, o vídeo é colorido */
    transition: filter 0.8s ease;
}

.servico:hover video {
    filter: grayscale(100%);
}

.video-servico span {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 13px;
}

.servico:hover span {
    color: rgb(1, 181, 187);
    font-weight: bold;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}

.popup-servicos {
    display: none;
    position: absolute;
}

#contato h1 {
    position: absolute;
    top: 10vh;
    left: 0;
    font-family: 'Hind', sans-serif;
    font-size: 8vh;
}

#contato h3 {
    font-weight: normal;
    max-width: 600px;
    position: absolute;
    bottom: 200px;
    font-family: 'Hind', sans-serif;
    color: rgba(255, 255, 255, 0.3);
}

#contato hr {
    position: absolute;
    bottom: 140px;
    width: 100%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.foto-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 140px;
    right: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transform: translateY(50%);
    overflow: hidden;
}

.foto-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contatos {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.contato-btn {
    height: 60px;
    width: 160px;
    border-radius: 30px;
    border: 1px solid rgb(42, 217, 223);
    font-family: 'Hind', sans-serif;
    background-color: rgb(42, 217, 223);
    font-size: 17px;
}

.contato-btn:hover {
    background-color: transparent;
    color: white;
}

.redes-sociais {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.redes-sociais li {
    display: inline-block;
    margin-right: 40px;
}

.redes-sociais li button {
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
}

.redes-sociais li button:hover {
    color: rgba(255, 255, 255, 0.9);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9998;
    background-color: rgb(15, 15, 15);
}

.close-popup {
    position: absolute;
    padding: 10px;
    z-index: 9999;
    font-size: 35px;
    top: 30px;
    right: 40px;
    padding: 0;
}

@media(max-width: 1024px) {
    .apresentacao-principal img {
        right: 0;
    }

    .apresentacao-principal h1 {
        font-size: 40px;
    }
}

@media(max-width: 1100px) {

    .logo,
    nav,
    .animation-container {
        left: 30px;
    }

    .toggle-menu,
    .close-menu,
    .language-translator {
        right: 30px;
    }

    .descricao p {
        font-size: 10px;
    }
}

@media(max-width: 900px) {

    nav p {
        font-size: 10px;
    }

    .animation-container {
        display: none !important;
    }

    .logo,
    nav,
    .animation-container {
        left: 30px;
    }

    .toggle-menu,
    .close-menu,
    .language-translator {
        right: 30px;
    }

    .descricao p {
        font-size: 9px;
    }
}

@media(max-width: 720px) {

    .cargo {
        font-size: 10px;
    }

    .apresentacao-principal h1 {
        font-size: 35px;
    }

    .apresentacao-principal img {
        right: -60px;
    }

    .contato-submit {
        font-size: 11px;
    }

    .descricao p {
        font-size: 9px;
    }
}

@media(min-height: 750px) {
    nav {
        top: 200px;
    }

    .animation-container {
        top: 540px;
    }
}

@media(min-height: 900px) {
    nav {
        top: 250px;
    }

    .animation-container {
        top: 690px;
    }
}

@media(max-height: 500px) {

    .menu ul li {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .animation-container {
        display: none !important;
    }

    .logo,
    .toggle-menu,
    .close-menu {
        top: 20px;
    }

    .logo h1 {
        font-size: 18px;
    }

    .toggle-menu svg {
        width: 28px;
        height: 12px;
    }

    nav {
        top: 100px;
    }

    .apresentacao-principal h1 {
        font-size: 35px;
        top: 45%;
    }

    .cargo {
        font-size: 11px;
    }

    .contato-submit-box {
        left: 9%;
        bottom: 35px;
    }

    .descricao {
        padding: 18px 30px;
    }

    .contato-submit {
        font-size: 11px;
    }
}

@media(max-height: 390px) {

    .language-translator {
        top: 80px;
    }

    nav li {
        margin: 8px 0;
        width: 6px;
        height: 6px;
    }

    .apresentacao-principal img {
        min-height: 300px;
    }

    .apresentacao-principal h1 {
        font-size: 26px;
        top: 45%;
    }

    .cargo {
        font-size: 9px;
    }

    .contato-submit-box {
        left: 9%;
        bottom: 20px;
    }

    .contato-submit {
        font-size: 9px;
    }
}

@media(max-height: 320px) {
    nav {
        top: 70px;
    }

    nav li {
        height: 6px;
        width: 6px;
    }

    .apresentacao-principal img {
        min-height: 200px;
    }

    .apresentacao-principal {
        margin-top: 28vh;
        height: 72vh;
    }

    .cargo {
        margin-top: 20px;
    }

}

@media(max-height: 280px) {

    nav p {
        font-size: 9px;
    }

    .apresentacao-principal h1 {
        font-size: 24px;
    }

    .apresentacao-principal img {
        right: 15px;
    }

    .descricao p {
        font-size: 7px;
    }
}

.ativo {
    opacity: 1 !important;
}

.blur {
    filter: blur(15px);
}

.hidden {
    display: none;
    background-color: transparent;
}