.fluid {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(33, 156, 160);
    height: 75dvh;
    z-index: -1;
    overflow: hidden;
}

.waves {
    position: relative;
    width: 100%;
    height: 15dvh;
    margin-top: 115px;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.bottom {height: calc(60dvh); background-color: rgb(99, 171, 194);}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}

@media(max-width: 450px) {
    .fluid {
        height: 82dvh;
    }

    .bottom {
        height: 700px;
    }
}

@media screen and ((max-aspect-ratio: 1/1) and (min-height: 1000px)) {

    .waves {
        height: 8dvh;
        min-height: 40px;
        margin-top: 180px;
    }

    .fluid {
        height: 82dvh;
    }

    .bottom {
        height: calc(74dvh - 180px);
    }
}